<div class="cart-message notif"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#each foundUser.cart}}
      <div class="overview" id="{{ _id }}">
        <div class="cart-card">
          <div class="name">
            <div class="space-between">
              <h4><span><img src="{{ cover }}" style="width: 70%"></span>
                <span>{{ title }}</span></h4>
              <div class="col-sm-1">
                <button id="decrease-artwork-quantity" value="{{ _id }}" class="btn btn-sm btn-primary">-</button>
                <button id="increase-artwork-quantity" value="{{ _id }}" class="btn btn-sm btn-primary">+</button>
              </div>
              <hr>
              <h3>
                <span></span>
                <span><button id="remove-from-cart" class="btn btn-danger" value="{{ _id }}">Remove</button></span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="col-md-4">
      <div class="overview">
        <div class="cart-summary">
          <div class="margin-both">
            <h2 class="text-center">Summary</h2>
            <hr>
            <div class="cart">
              {{#if cartIsEmpty }}
              Cart is empty
              {{ else }}
              <div class="inner">
                <img src="{{ artwork.cover }}" class="img-circle">
                <br>
                <p class="text-center">{{ artwork.title }}</p>
              </div>
              <hr>
              <div class="cart-promocode-panel">
                {{#if discountPercentage}}
                <p class="cart-promocode-text">Discount: {{ discountPercentage }}%</p>
                <a class="btn btn-danger cart-remove-promocode" id="{{ promo }}">Remove promo code</a>
                {{ else }}
                <div class="input-group cart-promocode">
                  <input type="text" class="form-control" placeholder="Enter promocode" id="cart-promocode-amount">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-block" id="cart-apply-promocode">Apply</button>
                  </span>
                </div>
                <p class="text-center" id="cart-promocode-response"></p>
                {{/if}}
              </div>
              <hr>
              <div class="space-between">
                <h4><span>Subtotal:</span><span class="dollar fee">$<span
                      id="cart-subtotal">{{ subtotal }}</span></span>
                </h4>
              </div>
              <div class="space-between">
                <h4><span>Fee:</span><span class="dollar fee">$3.15</span></h4>
              </div>
              <hr>
              <div class="space-between">
                <h3><span>Total:</span><span class="dollar fee">$<span id="cart-total">{{ totalPrice }}</span></span>
                </h3>
              </div>
              <a href="/payment/cart" class="btn btn-success proceed-btn">Proceed to payment</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>