<div class="cart-message notif"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{#each foundUser.cart}}
      <div class="overview" id="{{ artwork._id }}">
        <div class="cart-card">
          <div class="name">
            <div class="space-between">
              <h4><span><img src="{{ artwork.cover }}" style="width: 70%"></span>
                <span>{{ artwork.title }}</span></h4>
              <div class="form-group">
                <button data-toggle="modal" data-target="#increase-license-modal" value="{{ artwork._id }}"
                  class="btn btn-sm btn-primary increase-artwork-quantity">Add license</button>
                <button data-toggle="modal" data-target="#display-licenses-modal" value="{{ artwork._id }}"
                  class="btn btn-sm btn-primary display-artwork-licenses">Licenses</button>
              </div>
              <hr>
              <h3>
                <span></span>
                <span><button id="remove-from-cart" class="btn btn-danger"
                    value="{{ artwork._id }}">Remove</button></span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="col-md-4">
      <div class="overview">
        <div class="cart-summary">
          <div class="margin-both">
            <h2 class="text-center">Summary</h2>
            <hr>
            <div class="cart">
              {{#if cartIsEmpty }}
              Cart is empty
              {{ else }}
              <div class="inner">
                <img src="{{ artwork.cover }}" class="img-circle">
                <br>
                <p class="text-center">{{ artwork.title }}</p>
              </div>
              <hr>
              <div class="cart-promocode-panel">
                {{#if discountPercentage}}
                <p class="cart-promocode-text">Discount: {{ discountPercentage }}%</p>
                <a class="btn btn-danger cart-remove-promocode" id="{{ promo }}">Remove promo code</a>
                {{ else }}
                <div class="input-group cart-promocode">
                  <input type="text" class="form-control" placeholder="Enter promocode" id="cart-promocode-amount">
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-block" id="cart-apply-promocode">Apply</button>
                  </span>
                </div>
                <p class="text-center" id="cart-promocode-response"></p>
                {{/if}}
              </div>
              <hr>
              <div class="space-between">
                <h4><span>Subtotal:</span><span class="dollar fee">$<span
                      id="cart-subtotal">{{ subtotal }}</span></span>
                </h4>
              </div>
              <div class="space-between">
                <h4><span>License:</span><span class="dollar fee">$<span id="cart-subtotal">{{ license }}</span></span>
                </h4>
              </div>
              <div class="space-between">
                <h4><span>Fee:</span><span class="dollar fee">$3.15</span></h4>
              </div>
              <hr>
              <div class="space-between">
                <h3><span>Total:</span><span class="dollar fee">$<span id="cart-total">{{ totalPrice }}</span></span>
                </h3>
              </div>
              <a href="/payment/cart" class="btn btn-success proceed-btn">Proceed to payment</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="display-licenses-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Licenses information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="display-licenses-form" class="form-group">
        <div class="modal-body">
          <label for="modal-license-type">Artwork licenses</label>
          <p>License owner</p><small>License type:</small>
          <button class="btn btn-sm btn-danger decrease-artwork-quantity">Delete license</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="increase-license-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">License information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="increase-license-form" class="form-group">
        <div class="modal-body">
          <label for="modal-license-type">Artwork license</label>
          <select class="form-control" id="modal-license-credentials" name="licenseType">
            <option value="personal" selected>Personal use</option>
            {{#checkIfEqualsString artwork.use 'commercial'}}
            <option value="commercial">Commercial use</option>
            {{/checkIfEqualsString}}
          </select>
          <label for="modal-license-credentials">License owner credentials</label>
          <input type="text" class="form-control" name="licenseCredentials" placeholder="Full name/company name"
            id="modal-license-credentials">
        </div>
        <div class="modal-footer">
          <input type="submit" class="form-control" value="Save license">
        </div>
      </form>
    </div>
  </div>
</div>