<div class="container">
  <h1 class="text-center">Manage Orders</h1>
  <div class="row">
    <div class="overview">
      <div class="list-orders-card">
        <div class="table-margin">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Artwork</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#if order}}
              {{#each order}}
              {{#if bulk}}
              <tr>
                <td>
                  {{#each artwork}}
                  <img class="order-image-my-artwork" src="{{ cover }}"><span class="artwork-title">{{ title }}</span>
                  {{/each}}
                </td>
                <td>
                  ${{ paid }}
                </td>
                <td><button class="btn btn-{{ formatButtonOrder status }}">{{ formatStatusOrder status }}</button></td>
                <td>{{ formatDate created 'DD/MM/YYYY HH:mm:ss' }}</td>
                <td><a href="/users/{{ buyer._id }}/orders/{{ _id }}" class="btn btn-primary">Order page</a>
                </td>
              </tr>
              {{else}}
              <tr>
                {{#each artwork}}
                <td><img class="order-image-my-artwork" src="{{ cover }}"><span class="artwork-title">{{ title }}</span>
                </td>
                {{/each}}
                <td>${{ paid }}</td>
                <td><button class="btn btn-{{ formatButtonOrder status }}">{{ formatStatusOrder status }}</button></td>
                <td>{{ formatDate created 'DD/MM/YYYY HH:mm:ss' }}</td>
                <td><a href="/users/{{ buyer._id }}/orders/{{ _id }}" class="btn btn-primary">Order page</a>
                </td>
              </tr>
              {{/if}}
              {{/each}}
              {{ else }}
              <tr>
                <td class="no-orders" colspan="5"><br><br>No orders at the moment <br><br> Browse artwork and get in
                  touch
                  with
                  artists!</td>
              </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>