<div class="container">
  <div class="app row clearfix">
    <div class="col-sm-4">
      <input type="hidden" id="userId" value="{{ user._id }}">
      <div class="row">
        <div class="sidebar right">
          <div class="overlay">
            {{#each order.artwork}}
            <div class="profile">
              <div class="pic">
                <img src="{{ cover }}" class="artorder-image">
              </div>
              <div class="info">
                <h3 class="title name">{{ title }}</h3>
                <p class="bio">
                  {{ about }}
                  {{ price }}
                </p>
                <br>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="chatbox">
          <div class="chat-messages clearfix" id="order-messages">
            <p>{{ order.paid }}</p>
            <p>{{ order.created }}</p>
            <div class="btn btn-{{ formatButtonOrder order.status }}">{{ formatStatusOrder order.status }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>