<div class="container">
  <div class="app row clearfix">
    <div class="col-sm-4">
      <input type="hidden" id="userId" value="{{ user._id }}">
      <div class="row">
        <div class="sidebar right">
          <div class="overlay">
            {{#each order.artwork}}
            <div class="profile">
              <div class="pic">
                <img src="{{ cover }}" class="artorder-image">
              </div>
              <div class="info">
                <h3 class="title name">{{ title }}</h3>
                <p class="bio">
                  {{ about }}
                  {{ price }}
                </p>
                <a href="{{ media }}">{{ title }}</a>
                {{#checkIfEquals ../user._id owner}}
                {{else}}
                {{../review}}
                {{#if ../review}}
                <p>{{ ../review.rating }}</p>
                <p>{{ ../review.review }}</p>
                {{else}}
                <a id="{{ _id }}" class="rate-artwork" data-toggle="modal" data-target="#rate-artwork-modal">Rate this
                  artwork</a>
                {{/if}}
                {{/checkIfEquals}}
                <br>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="chatbox">
          <div class="chat-messages clearfix" id="order-messages">
            {{#checkIfEquals order.buyer user._id}}
            <p>{{ order.paid }}</p>
            {{else}}
            <p>{{ order.sold }}</p>
            {{/checkIfEquals}}
            <p>{{ order.created }}</p>
            <div class="btn btn-{{ formatButtonOrder order.status }}">{{ formatStatusOrder order.status }}</div>
            <a href="/contact_support">Having issues with your order? Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rate-artwork-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate artwork</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="rate-artwork-form" class="form-group">
        <div class="modal-body">
          <span class="star-cb-group">
            <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
            <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label
              for="rating-4">4</label>
            <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
            <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
            <input type="radio" id="rating-1" name="rating" value="1" required /><label for="rating-1">1</label>
          </span>
          <input type="hidden" id="modal-id-input" name="id" />
          <textarea id="modal-message-input" name="review" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" class="form-control" value="Publish review">
        </div>
      </form>
    </div>
  </div>
</div>