<div class="container">
  <div class="app row clearfix">
    <div class="col-sm-4">
      <input type="hidden" id="userId" value="{{ user._id }}">
      <div class="row">
        <div class="sidebar right">
          <div class="overlay">
            {{#each conversations }}
            <div id="{{ _id }}" class="chat-profiles">
              <a
                href="/conversations/{{#formatUsername ../user._id first._id second._id first._id }}{{/formatUsername}}">
                <div class="pic">
                  <img src="{{#formatChatPhoto ../user._id first._id second.photo first.photo }}{{/formatChatPhoto}}"
                    class="artwork-image">
                </div>
                <div class="info">
                  <h3 class="title name">
                    {{#formatChatName ../user._id first._id second.name first.name }}{{/formatChatName}}</h3>
                  <p class="bio">
                    {{#each messages }}
                    <p>{{#if @last}}{{ this.content }}{{/if}}</p>
                    {{/each}}
                  </p>
                </div>
              </a>

            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="chatbox">
          <div class="chat-messages clearfix" id="order-messages">
            {{#if conversation.messages}}
            {{#each conversation.messages}}
            {{#checkIfEqualsId ../user._id owner._id}}
            <div class="message right">
              <p class="text-right">{{ owner.name }}</p>
              <span class="pic"><img src="{{ owner.photo }}" /></span>
              <div class="bubble right">
                <p>{{ content }}</p>
              </div>
            </div>
            {{ else }}
            <div class="message left">
              <p class="text-left">{{ owner.name }}</p>
              <span class="pic"><img src="{{ owner.photo }}" /></span>
              <div class="bubble left">
                <p>{{ content }}</p>
              </div>
            </div>
            {{/checkIfEqualsId}}
            {{/each}}
            {{ else }}
            <div class="no-messages">
              <p>No messages</p>
              <br>
              <p>Start a conversation!</p>
            </div>
            {{/if}}
          </div>

          <div class="compose">
            <form id="convo-message-form" class="form-group">
              <div class="input-group">
                <a href="#" class="input-group-addon"><i class="fa fa-plus">
                  </i></a>
                <input type="text" id="convo-message" class="form-control" placeholder="Type something here">
                <a href="#" class="input-group-addon"><i class="fa fa-smile-o"></i></a>
                <input type="submit" class="form-control" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>