<div class="service-details-message notif"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="overview">
        <input type="hidden" value="{{ artwork._id }}" id="artwork_id">
        <div class="template-card">
          <div class="name">
            <h2 class="h2-size">{{ artwork.title }}</h2>
            <hr>
            <img src="{{ artwork.cover }}" class="image-test">
          </div>
        </div>
      </div>

      <div class="overview">
        <div class="about-card">
          <div class="name">
            <h2 class="h2-size">About artwork</h2>
            <hr>
            <h4>{{ artwork.about }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="overview">
        {{#if id }}
        {{#checkIfEquals artwork.owner._id id }}
        <div class="edit-card">
          <a href="/edit-artwork/{{ artwork._id }}" class="btn btn-success" id="edit-artwork"><i
              class="fa fa-edit"></i></a>
        </div>
        {{ else }}
        <div class="order-card">
          <div class="name">
            <h3>Artwork price</h3>
            <h4>${{ artwork.price }}</h4>
            <a href="/checkout/single-package/{{ artwork._id }}" class="btn btn-success">Proceed to order</a>
            {{#if inCart}}
            <a href="/checkout/process_cart" class="btn btn-success" id="in-cart">In cart</a>
            {{ else }}
            <button class="btn btn-success" id="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
            {{/if}}
          </div>
        </div>
        {{/checkIfEquals}}
        {{ else }}
        <div class="order-card">
          <div class="name">
            <h3>Artwork price</h3>
            <h4>${{ artwork.price }}</h4>
            <a href="/checkout/single-package/{{ artwork._id }}" class="btn btn-success">Proceed to order</a>
            {{#if inCart}}
            <a href="/checkout/process_cart" class="btn btn-success" id="in-cart">In cart</a>
            {{ else }}
            <button class="btn btn-success" id="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
            {{/if}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>

    <div class="col-md-4">
      <div class="overview">
        <div class="artist-card">
          <div class="name">
            <h3>Artist details</h3>
            <hr>
            <h4>{{ artwork.owner.name }}</h4>
            <i class="fa fa-briefcase"></i>
            <i class="fa fa-envelope" data-toggle="modal" data-target="#contact-artist-modal"></i>
            <img class="img-circle" src="{{ artwork.owner.photo }}" />
            <br>
            {{#if artwork.owner.about}}
            <h4>{{ artwork.owner.about }}</h4>
            {{ else }}
            <h4>No further information about this artist</h4>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contact-artist-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contact artist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" id="modal-message-form" class="form-group">
        <div class="modal-body">
          <textarea id="modal-message-input" class="form-control" cols="30" rows="10"></textarea>
          <input type="hidden" id="modal-user-id" value="{{ artwork.owner._id }}">
        </div>
        <div class="modal-footer">
          <input type="submit" class="form-control" value="Send message">
        </div>
      </form>
    </div>
  </div>
</div>