<div class="service-details-message notif"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="overview">
        <input type="hidden" value="{{ artwork._id }}" id="artwork_id">
        <div class="template-card">
          <div class="name">
            <h2 class="h2-size">{{ artwork.current.title }}</h2>
            <p>{{ review.rating }}</p>
            <hr>
            <img src="{{ artwork.current.cover }}" class="image-test">
            {{#if savedArtwork}}
            <button id="{{ artwork._id }}" class="btn btn-danger save-artwork-button">Remove
              artwork</button>
            {{else}}
            <button id="{{ artwork._id }}" class="btn btn-primary save-artwork-button">Save
              artwork</button>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="overview">
        <div class="about-card">
          <div class="name">
            <h2 class="h2-size">About artwork</h2>
            <hr>
            <h4>{{ artwork.current.about }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="overview">
        {{#if user }}
        {{#checkIfEqualsId artwork.owner._id user._id }}
        <div class="edit-card">
          <a href="/edit_artwork/{{ artwork._id }}" class="btn btn-success" id="edit-artwork"><i
              class="fa fa-edit"></i></a>
        </div>
        {{ else }}
        <div class="order-card">
          <div class="name">
            <h3>Artwork price</h3>
            <h4>${{ artwork.current.price }}</h4>
            {{#if inCart}}
            <a href="/checkout/cart" class="btn btn-success" id="in-cart">In cart</a>
            {{ else }}
            {{#if artwork.current.available}}
            {{#checkIfEqualsString artwork.current.type 'showcase' }}
            <a href="{{ artwork.current.media }}" class="btn btn-success" id="download-artwork"><i
                class="fa fa-download"></i></a>
            {{ else }}
            <button data-toggle="modal" data-target="#add-license-modal" class="btn btn-success" id="add-to-cart"><i
                class="fa fa-shopping-cart"></i></button>
            {{/checkIfEqualsString}}
            {{ else }}
            <p>Showcase artwork</p><small>(not available for download)</small>
            {{/if}}
            {{/if}}
          </div>
        </div>
        {{/checkIfEqualsId}}
        {{ else }}
        <div class="order-card">
          <div class="name">
            <h3>Artwork price</h3>
            <h4>${{ artwork.current.price }}</h4>
            {{#if artwork.current.available}}
            {{#checkIfEqualsString artwork.current.type 'showcase' }}
            <a href="{{ artwork.current.media }}" class="btn btn-success" id="download-artwork"><i
                class="fa fa-download"></i></a>
            {{ else }}
            <button data-toggle="modal" data-target="#add-license-modal" class="btn btn-success" id="add-to-cart"><i
                class="fa fa-shopping-cart"></i></button>
            {{/checkIfEqualsString}}
            {{ else }}
            <p>Showcase artwork</p><small>(not available for download)</small>
            {{/if}}
          </div>
        </div>
        {{/if}}
      </div>
    </div>

    <div class="col-md-4">
      <div class="overview">
        <div class="artist-card">
          <div class="name">
            <h3>Artist details</h3>
            <hr>
            <h4>{{ artwork.owner.name }}</h4>
            <i class="fa fa-briefcase"></i>
            <a href="/conversations/{{ artwork.owner._id }}"><i class="fa fa-envelope"></i></a>
            <img class="img-circle" src="{{ artwork.owner.photo }}" />
            <br>
            {{#if artwork.owner.about}}
            <h4>{{ artwork.owner.about }}</h4>
            {{ else }}
            <h4>No further information about this artist</h4>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="overview">
        <div class="artist-card">
          <div class="name">
            <h3>Artwork reviews</h3>
            {{#if review}}
            {{#each review}}
            <img class="img-circle" src="{{ owner.photo }}" />
            <p>{{ owner.name }}</p>
            <br>
            <p>{{ review }}</p>
            {{/each}}
            {{else}}
            <p>No reviews yet</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-license-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">License information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="add-license-form" class="form-group">
        <div class="modal-body">
          <label for="modal-license-type">Artwork license</label>
          <select class="form-control" id="modal-license-credentials" name="licenseType">
            <option value="personal" selected>Personal use</option>
            {{#checkIfEqualsString artwork.current.use 'commercial'}}
            <option value="commercial">Commercial use</option>
            {{/checkIfEqualsString}}
          </select>
          <label for="modal-license-credentials">License owner credentials</label>
          <input type="text" class="form-control" name="licenseCredentials" placeholder="Full name/company name"
            id="modal-license-credentials">
        </div>
        <div class="modal-footer">
          <input type="submit" class="form-control" value="Save license">
        </div>
      </form>
    </div>
  </div>
</div>