<div class="hero">
	<div class="container">
		<div class="row">
			{{#if message }}
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				{{ message }}
			</div>
			{{/if}}
			<div class="hero-heading">
				Service for lean entrepreneur <br />
				Find it on Threely.
				<p>Browse. Buy. Done. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<form action="/search" method="post">
					<div class="input-group">
						<input type="text" class="form-control" name="search_input" placeholder="What are you searching?">
						<span class="input-group-btn">
							<input type="submit" class="btn btn-success" id="home-search" value="Search">
						</span>
					</div>
				</form>
				{{#if this.user}}
				<button class="btn btn-primary" data-toggle="modal" data-target="#post-request-modal">Request custom
					work</button>
				{{ else }}
				<button class="btn btn-primary" disabled>Request custom work</button>
				{{/if}}
			</div>
		</div>
	</div>
</div>
<div class="container section">
	<h1>Requests</h1>
	<div class="row">
		{{#if requests}}
		{{#each requests}}
		<div class="col-md-3">
			<div class="request-card">
				{{#checkIfEqualsId poster._id ../this.user._id }}
				<i onclick="deleteRequest('{{ _id }}')" class="fa fa-trash delete-request-button"></i>
				<a href="/edit_request/{{ _id }}" class="fa fa-edit edit-request-button"></a>
				{{ else }}
				<a href="#" class="fa fa-briefcase"></a>
				{{/checkIfEqualsId}}
				<h4>{{ poster.name }}</h4>
				<img src="{{ poster.photo }}">
				<h4>
					{{ category }}
				</h4>
				<h3>
					${{ budget }}
				</h3>
				<h3>
					{{ description }}
				</h3>
				<h3>
					{{ delivery }} days
				</h3>
			</div>
		</div>
		{{/each}}
		{{ else }}
		<div class="col-md-12">
			<br>
			<br>
			<br>
			<div class="no-requests">
				<p>No requests to display at the moment</p>
			</div>
		</div>
		{{/if}}
	</div>
	<h1>
		Newest artwork
	</h1>
	<div class="row">
		{{#if artwork}}
		{{#each artwork}}
		<div class="col-md-3">
			<div class="artwork-card">
				<a href="/artwork_details/{{ _id }}"><img src="{{ cover }}" /></a>
				<h4>
					{{ title }}
				</h4>
				<h3>
					${{ price }}
				</h3>
			</div>
		</div>
		{{/each}}
		{{ else }}
		<div class="col-md-12">
			<br>
			<br>
			<br>
			<div class="no-artwork">
				<p>No artwork to display at the moment</p>
				<br>
				<p>Try again later!</p>
			</div>
		</div>
		{{/if}}
	</div>
</div>

<div class="modal fade" id="post-request-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Request custom work</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/request" method="post" id="post-request-form" class="form-group">
				<div class="modal-body">
					<select name="request_category" class="form-control">
						<option value="cw">Creative writing</option>
						<option value="m">Music</option>
						<option value="va">Visual arts</option>
					</select>
					<input name="request_budget" class="form-control" type="number" min="1" placeholder="What is your budget">
					<input name="request_delivery" class="form-control" type="number" min="1" max="90"
						placeholder="In how many days do you want the work delivered">
					<textarea name="request_description" class="form-control" cols="30" rows="10"
						placeholder="Describe your request" required></textarea>
				</div>
				<div class="modal-footer">
					<input type="submit" class="form-control" value="Post your request">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="custom-work-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Custom work offer</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/send-offer" method="post" id="custom-work-form" class="form-group">
				<div class="modal-body">
					<input name="request_budget" class="form-control" type="number" min="1" placeholder="What is your budget"
						required>
					<input name="request_delivery" class="form-control" type="number" min="1" max="90"
						placeholder="In how many days do you want the work delivered" required>
					<textarea name="request_description" class="form-control" cols="30" rows="10"
						placeholder="Describe your request" required></textarea>
				</div>
				<div class="modal-footer">
					<input type="submit" class="form-control" value="Send your request">
				</div>
			</form>
		</div>
	</div>
</div>