<div class="container">
  <h1 class="text-center">
    <div class="row">
      {{#if error }}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        {{ error }}
      </div>
      {{/if}}
      {{#if success }}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        {{ success }}
      </div>
      {{/if}}
      <div class="col-md-8 col-md-offset-2">
        <div class="overview">
          <div class="add-artwork-card">
            <p class="text-center" style="margin-top: 50px">
              <a href="/add_new_artwork" class="btn btn-success">Add new artwork</a>
            </p>
          </div>
        </div>

        <div class="overview">
          <div class="list-orders-card">
            <div class="table-margin">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Artwork</th>
                    <th scope="col">Title</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if artwork}}
                  {{#each artwork}}
                  <tr>
                    <td><img class="order-image-my-artwork" src="{{ current.cover }}"></td>
                    <td>{{ current.title }}</td>
                  </tr>
                  {{/each}}
                  {{ else }}
                  <tr>
                    <td class="no-added-artwork" colspan="5"><br><br>No artwork to display <br><br> Add new art and
                      start selling!</td>
                  </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </h1>
</div>